@page
@model J89582.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<link rel="stylesheet" href="~/css/Menu.css" asp-append-version="true" />


<section class="menu">
    <table class="table">

        <tr>
            @foreach (var item in Model.Menu)
            {
                var imagePath = @"img\" + item.ID + ".png";
            }
            <td>
                <img class="admin-image" src="@imagePath">
                </td>
        </tr>

            <tr>
               @* <th>
                    @Html.DisplayNameFor(model => model.Menu[0].Name)
                </th>*@
            @foreach (var item in Model.Menu)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            }
        </tr>
        <tr>
               @* <th>
                    @Html.DisplayNameFor(model => model.Menu[0].Price)
                </th>*@

            @foreach (var item in Model.Menu)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            }
                
            </tr>
        </table>
</section>