@page
@model J89582.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "Index";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using J89582.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<link rel="stylesheet" href="css/adminPage.css" asp-append-version="true" />
<section class="admin-page">
<h1>Index</h1>

<div class="welcome">
    @if (SignInManager.IsSignedIn(User))
    {
            <h2 class ="welcome">Hello @UserManager.GetUserName(User)</h2>
    }
    @if (User.IsInRole("Admin"))
    {
            <h2 class="welcome">Only admin users can see this!</h2>
    }
    </div>



<div class="create-new">
    <a asp-page="Create">Create New</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Menu[0].MenuName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu[0].Price) 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Menu) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @{
                    var imagePath = @"img\" + item.ID + ".png";
                }
            </td>
                   
            <td class="crud">
                        <img class="admin-image" src="@imagePath">
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a> |
                <a asp-page="/upload" asp-route-id="@item.ID">Upload</a>
                 
            </td>
        </tr>
}
    </tbody>
</table>

</section>
